body{
    margin: 0;
    text-align: center;
    font-style: italic; 
    font-family: 'Times New Roman', Times, serif;
    background: rgb(242, 234, 222); 
    flex-direction: column
         
}

.navbar{
    display: flex;
    align-items: center;
    background: rgb(249, 159, 127);
    padding: 20px 20px;
    justify-content: space-between;
        
}

.logo{
    color: black;
    font-size: 30px;
    font-weight: bolder;
    
}

.nev-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nev-links a{
    text-decoration: none;
    color: rgb(23, 4, 4);
    font-size: 20px;
    font-weight: 200px;

}

.nev-links a:hover{
    color: rgb(254, 0, 119);
}

.hero-img{
    width: 250px;
    height: 300px;
    border-radius:100px;
    object-fit: cover;
    box-shadow: 3px 4px 9px rgb(247, 144, 144);
    margin-top: 30px;
        
}

.hero-section{
    font-style: italic;
    font-size: larger;
    flex-direction: column;
}

.footer-section{
    background: rgb(254, 161, 127);
    color: black;
    text-align: center;
    padding: 5px 0px;
}

.socials{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-decoration: none;
}

.socials a{
    text-align: center;
    text-decoration: none;
    color: rgb(149, 81, 212);
}

.socials a:hover{
    color: #35023f;
}

.hero-img {
  opacity: 1;                 
  transition: opacity 1s ease-in-out; 
}
.hero-img.show {
  opacity: 1;
}

